<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWO7q-YBSzayT2x_RPL9tZoh3j1Tt1E9E</string>
	<key>GCM_SENDER_ID</key>
	<string>575169299852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jjunbbang.LuminaView</string>
	<key>PROJECT_ID</key>
	<string>lumaniaviewclient</string>
	<key>STORAGE_BUCKET</key>
	<string>lumaniaviewclient.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:575169299852:ios:87cc9f4ebc1b6f78a342a9</string>
</dict>
</plist>
